<nav id='navBar'class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  Univ LR QR Game
  <!-- <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-1">
      <i class="fas fa-star" style="color:#24DFE5;"></i>
    </li>
  </ul> -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-1">
      <i class="fas fa-stopwatch fa-fw" style="color:#24DFE5;"></i>
      <li id="timer">
        <p style="font-family:courier;color:#0073e6 ; font-size: 16px ">Timer: <input id="minutes" value="15" type="text" style="width: 24px; border-style: groove; background-color: #0073e6 ; font-size: 16px; font-weight: bold;">:<input id="seconds" value="00" type="text" style="width: 26px; border-style: groove; background-color: #0073e6    ; font-size: 16px; font-weight: bold;"></p>
      </li>
    </li>
  </ul>
</nav>

